html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	box-sizing: border-box;
}
* {
	box-sizing: inherit;
}
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: rgb(12, 56, 50);
	color: white;
}

header {
	font-weight: 700;
	padding: 3rem 2rem;
	text-align: center;
}
h1 {
	font-size: 2rem;
	line-height: 3rem;
}
#description {
	font-size: 1.5rem;
	font-style: italic;
	font-weight: normal;
}

form {
	background: linear-gradient(90deg, rgba(0, 141, 59, 0.507), rgba(34, 119, 153, 0.486));
	color: #fff;
	font-size: 1.2rem;
	padding: 1rem;
}
form ul {
	display: flex;
	flex-direction: column;
}
.label {
	display: block;
	/* line-height: 1.5rem; */
	margin: 0.5rem 0;
}
li {
	margin: 0.5rem 0;
	font-size: 1.25rem;
}
input, select, textarea {
	border-radius: .5rem;
	border: none;
	padding: .5rem .75rem;
	font-size: inherit;
	color: gray;
	font-family: inherit;
}
input[type="radio"], input[type="checkbox"] {
	border: none;
	display: inline-block;
	transform: scale(2);
	margin-right: .5rem;
}
textarea {
	resize: none;
}
[type="submit"] {
	border-radius: 0;
	background-color: #37af65;
	border: none;
	color: white;
}

footer {
	background: linear-gradient(180deg, rgb(15, 71, 64), rgb(31, 65, 12));
	width: 100vw;
	padding: 1.5rem;
	text-align: center;
	font-size: 1.5rem;
}

.f-width {
	display: block;
	width: 100%;
}

@media (min-width: 31.25rem) {
	form {
		padding: 2.5rem;
	}
}
@media (min-width: 40.625rem) {
	form {
		width: 33.75rem;
		margin: 0 auto 4rem;
	}
}

@media (min-width: 53rem) {
	form {
		width: 45rem;
	}
}